<!DOCTYPE html>
<html>

<head>
    <title>Fragmento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>

    </br>
    <div th:fragment="reservaForm(titulo)" class="container border border-2 w-25">
        <h1 class="text-center" th:text="${titulo}"></h1>
    

    <form>

        <label class="col-form-label">Fecha:</label>
        <input class="form-control" type="date" id="fecha" name="fecha" required th:value="${reserva.fecha}" />
        <label class="col-form-label">fechaFinal:</label>
        <input class="form-control" type="date" id="fechafinal" name="fechafinal" required th:value="${reserva.fechafinal}" />
        <label class="col-form-label">Personas:</label>
        <input class="form-control" type="number" id="personas" name="personas" required th:value="${reserva.personas}" />
        <label class="col-form-label">Habtacionid:</label>
        <input class="form-control" type="number" id="habtacionid" name="habtacionid" required th:value="${reserva.habtacionid}" />
        <label class="col-form-label">Planesid:</label>
        <input class="form-control" type="number" id="planesid" name="planesid" required th:value="${reserva.planesid}" />
        <label class="col-form-label">Usuarioid:</label>
        <input class="form-control" type="number" id="usuarioid" name="usuarioid" required th:value="${reserva.usuarioid}" />

        </select>
        <div class="text-center">
            <input type="submit" value="Guardar" class="btn btn-primary">
            <a th:href="@{/reservas}" class="btn btn-primary">Cancelar</a>
        </div>
    </form>

    </br>
</div>

</body>

</html>