<!DOCTYPE html>
<html>

<head>
    <title>Fragmento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>

    </br>
    <div th:fragment="servicioreservasForm(titulo)" class="container border border-2 w-25">
        <h1 class="text-center" th:text="${titulo}"></h1>
    

    <form>
        <label class="col-form-label">id:</label>
        <input class="form-control" type="text" id="id" name="id" required th:value="${reserva.id}" />
        <label class="col-form-label">FechaInicial:</label>
        <input class="form-control" type="text" id="fechainicial" name="fechainicial" required th:value="${reserva.fechainicial}" />
        <label class="col-form-label">fechaFinal:</label>
        <input class="form-control" type="text" id="fechafinal" name="fechafinal" required th:value="${reserva.fechafinal}" />
        <label class="col-form-label">idHabitacion:</label>
        <input class="form-control" type="text" id="idhabitacion" name="idhabitacion" required th:value="${reserva.idhabitacion}" />
        <label class="col-form-label">tipo:</label>
        <input class="form-control" type="text" id="tipo" name="tipo" required th:value="${reserva.tipo}" />
        <label class="col-form-label">precio:</label>
        <input class="form-control" type="text" id="precio" name="precio" required th:value="${reserva.precio}" />
        </select>
        <div class="text-center">
            <input type="submit" value="Guardar" class="btn btn-primary">
            <a th:href="@{/servicioreservas}" class="btn btn-primary">Cancelar</a>
        </div>
    </form>

    </br>
</div>

</body>

</html>