<!DOCTYPE html>
<html>
<head>
    <title>Dinero Recolectado por Servicios</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>
<body>
    <div class="text-center">
        <h1>Dinero Recolectado por Servicios</h1>
        
        <!-- Agrega filtros de búsqueda si es necesario -->
        
        <table class="table table-condensed table-hover table-bordered" style="border-collapse:collapse;">
            <thead class="thead-dark">
                <tr>
                    <th>id_Habitacion</th>
                    <th>Dinero Recolectado</th>
                </tr>
            </thead>
            <tbody>
                <!-- Itera sobre los resultados y muestra cada uno -->
                <th:block th:each="resultado : ${dineroRecolectadoPorServicios}">
    <tr>
        <td th:text="${resultado.getid_habitacion}"></td>
        <td th:text="${resultado.getdinero_recolectado}"></td>
    </tr>
</th:block>
            </tbody>
        </table>
        
        <div class="text-center">
            <a th:href="@{/}" class="btn btn-primary"> Volver Atrás</a>
        </div>
    </div>
</body>
</html>
