<!DOCTYPE html>
<html>
<head>
    <title>Hotel Andes app</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container mx-auto w-25">

    <h1>Hotel Andes app</h1>
    <img th:src="@{/images/logo.png}" width="250">

    <div>
        <a th:href="@{/usuarios}" class="btn btn-primary">Usuarios</a>
        <a th:href="@{/habitaciones}" class="btn btn-primary">Habitaciones</a>
        <a th:href="@{/serviciosconsumo}" class="btn btn-primary">Habitaciones</a>
    </div>
    <br/>

</div>
</body>
</html>
