<!DOCTYPE html>
<html>

<head>
    <title>Resultados de la búsqueda de Mayor consumo</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>

<body>
    <h1>Clientes con mas consumos</h1>
    <table class="table table-condensed table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Nombre de Usuario</th>
                <th>ID usuario</th>
                <th>Total consumo</th>
                
            </tr>
        </thead>
        <tbody>
            <tr th:each="row : ${usuarios}">
                <td th:text="${row.NOMBRE_CLIENTE}"></td>
                <td th:text="${row.USUARIOID}"></td>
                <td th:text="${row.TOTAL_CONSUMO}"></td>
                

            </tr>
        </tbody>
    </table>
    <a th:href="@{/usuarios}">Volver atrás</a>
</body>
</html>
