<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Plan</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <form th:action="@{'/planes/' + ${nombre} + '/edit/save'}" th:object="${plan}" method="post">
        <div th:replace="~{fragments/planForm :: planForm(titulo='Editar plan', plan=${plan})}"></div>
    </form>
    
</body>
</html>