<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planes De Consumo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div>
        <h1>Lista de Planes De Consumo</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Tipo</th>
                    <th>Descripcion</th>
                </tr>
                <th:block th:each="plan:${planes}">
                    <tr>
                        <td th:text="${plan.tipo}"></td>
                        <td th:text="${plan.descripcion}"></td>
                        <td>
                            <a th:href="@{planes/{tipo}/edit(tipo=${plan.tipo})}">
                                Editar
                            </a>
                            <a th:href="@{planes/{tipo}/delete(nombre=${plan.nombre})}"
                            onclick="return confirm('¿seguro?')">
                                Borrar
                            </a>
                        </td>
                    </tr>
                </th:block>
            </thead>
        </table>
        <div>
            <a th:href="@{/}" class="btn btn-primary">Volver atrás</a>
            <a th:href="@{planes/new}" class="btn btn-primary">Añadir Planes De Consumo</a>
        </div>
    </div>
</body>
</html>