<!DOCTYPE html>
<html>

<head>
    <title>Lista de Reservas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="text-center">
        <h1>Lista de Reservas</h1>

        <div class="row justify-content-between">
            <div class="col-6">
                <form th:action="@{/reservas}" method="get">
                    <div class="input-group input-group-sm mb-2">
                        <input class='form-control' id="txtSearch" type="text" name="id">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">Buscar por ID</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <br />

        <table class="table table-condensed table-hover table-bordered" style="border-collapse:collapse;">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>fecha</th>
                    <th>FechaFinal</th>
                    <th>personas</th>
                    <th>Habtacionid</th>
                    <th>Planesid</th>
                    <th>Usuarioid</th>

                </tr>
            </thead>
            <tbody>
                <th:block th:each="reserva : ${reservas}">
                    <tr>
                        <td th:text="${reserva.id}"></td>
                        <td th:text="${reserva.fecha}"></td>
                        <td th:text="${reserva.fechafinal}"></td>
                        <td th:text="${reserva.personas}"></td>
                        <td th:text="${reserva.habtacionid}"></td>
                        <td th:text="${reserva.planesid}"></td>
                        <td th:text="${reserva.usuarioid}"></td>

                        <td>
                            <a th:href="@{reservas/{id}/edit(id=${reserva.id})}">Editar</a>
                            <a th:href="@{reservas/{id}/delete(id=${reserva.id})}"
                                onclick="return confirm('¿Estás seguro de borrar esta reserva?')">Borrar</a>
                        </td>
                    </tr>

                </th:block>
            </tbody>
        </table>
        <div class="text-center">
            <a th:href='@{reservas/new}' class="btn btn-primary">Añadir Reserva</a>
            <a th:href="@{/}" class="btn btn-primary"> Volver Atrás</a>
            </br>
        </div>
        <br />
    </div>
</body>

</html>