<!DOCTYPE html>
<html>

<head>
    <title>Lista de Consumos de Servicios</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="text-center">
        <h1>Lista de Consumos</h1>

        <div class="row justify-content-between">
            <div class="col-6">
                <form th:action="@{/serviciosconsumo}" method="get">
                    <div class="input-group input-group-sm mb-2">
                        <input class='form-control' id="txtSearch" type="text" name="id">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">Buscar por id</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-6">
                <form th:action="@{/serviciosconsumo/buscar}" method="get">
                    <div class="input-group input-group-sm mb-2">
                        <input class='form-control' id="idusuario" type="text" name="idusuario">
                        <input class='form-control' id="fechainicio" type="date" name="fechainicio">
                        <input class='form-control' id="fechafin" type="date" name="fechafin">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">Buscar por Cliente y Fecha</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <form id="searchByFuncionamientoForm" th:action="@{/serviciosconsumo/consultaFuncionamiento}" method="get">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary">Consultar funcionamiento (RFC11)</button>
                    </div>
                </div> 
            </form>
        </div>
    
    
        <script>
                document.getElementById('searchByFuncionamientoButton').addEventListener('click', function() {
                document.getElementById('searchByFuncionamientoForm').submit();
            });
        </script>

        
        <br />

        <table class="table table-condensed table-hover table-bordered" style="border-collapse:collapse;">
            <thead class="thead-dark">
                <tr>
                    <th>IdConsumo</th>
                    <th>Descripcion</th>
                    <th>Costo</th>
                    <th>Fecha</th>
                    <th>IdHabitacion</th>
                    <th>IdProducto</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="consumo : ${serviciosconsumo}">
                    <tr>
                        <td th:text="${consumo.id}"></td>
                        <td th:text="${consumo.descripcion}"></td>
                        <td th:text="${consumo.costo}"></td>
                        <td th:text="${consumo.fecha}"></td>
                        <td th:text="${consumo.idhabitacion}"></td>
                        <td th:text="${consumo.idproducto}"></td>
                        <td>
                            <a th:href="@{serviciosconsumo/{id}/edit(id=${consumo.id})}">Editar</a>
                            <a th:href="@{serviciosconsumo/{id}/delete(id=${consumo.id})}"
                                onclick="return confirm('¿Estás seguro de borrar este consumo?')">Borrar</a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <div class="text-center">
            <a th:href='@{serviciosconsumo/new}' class="btn btn-primary">Registrar un consumo</a>
            <a th:href="@{/}" class="btn btn-primary"> Volver Atrás</a>
        </div>
        <br />
    </div>
</body>

</html>
