<!DOCTYPE html>
<html>

<head>
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="text-center">
        <h1>Lista de Usuarios</h1>


        <br />
        <form th:action="@{usuarios}" method="get">
            <div class="input-group input-group-sm mb-2 justify-content-center">
                <input class='w-25' id="txtSearch" type="text" name="id">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary">Buscar por id</button>
                </div>
            </div>
        </form>
        <br />

        <table class="table table-condensed table-hover table-bordered" style="border-collapse:collapse;">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>TipoDocumento</th>
                    <th>Rol</th>
                    <th>Correo</th>
                    <th>Contrasena</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="usuario : ${usuarios}">
                    <tr>
                        <td th:text="${usuario.id}"></td>
                        <td th:text="${usuario.nombre}"></td>
                        <td th:text="${usuario.documento}"></td>
                        <td th:text="${usuario.tipodocumento}"></td>
                        <td th:text="${usuario.rol}"></td>
                        <td th:text="${usuario.correo}"></td>
                        <td th:text="${usuario.contrasena}"></td>
                        <td>
                            <a th:href="@{usuarios/{id}/edit(id=${usuario.id})}">Editar</a>
                            <a th:href="@{usuarios/{id}/delete(id=${usuario.id})}"
                                onclick="return confirm('¿Estás seguro de borrar este usuario?')">Borrar</a>
                        </td>
                    </tr>

                </th:block>
            </tbody>
        </table>
        <div class="text-center">
            <a th:href='@{usuarios/new}' class="btn btn-primary">Añadir Usuario</a>
            <a th:href="@{/}" class="btn btn-primary"> Volver Atrás</a>
            </br>
        </div>
        <br />
</body>

</html>