<!DOCTYPE html>
<html>

<head>
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="text-center">
        <h1>Lista de Usuarios</h1>

        <div class="row justify-content-between">
            <div class="col-6">
                <form th:action="@{/usuarios}" method="get">
                    <div class="input-group input-group-sm mb-2">
                        <input class='form-control' id="txtSearch" type="text" name="id">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">Buscar por ID</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-6">
                <form th:action="@{/usuarios/rol}" method="get">
                    <div class="input-group input-group-sm mb-2">
                        <input class='form-control' id="txtSearch" type="text" name="rol">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">Buscar por Rol</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <form id="searchByEstadiaForm" th:action="@{/usuarios/buenosClientesEstadia}" method="get">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-append">
                        <button type="button" id="searchByEstadiaButton" class="btn btn-secondary">Buscar mejores clientes estadía</button>
                    </div>
                </div>
            </form>
        </div>
        
        
        <script>
                document.getElementById('searchByEstadiaButton').addEventListener('click', function() {
                document.getElementById('searchByEstadiaForm').submit();
            });
        </script>

    <div class="d-flex justify-content-center">
        <form id="searchByMayorConsumoForm" th:action="@{/usuarios/mayorConsumo}" method="get">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-append">
                    <button type="button" id="searchByMayorConsumoButton" class="btn btn-secondary">Buscar mejores clientes consumos</button>
                </div>
            </div>
        </form>
    </div>


    <script>
            document.getElementById('searchByMayorConsumoButton').addEventListener('click', function() {
            document.getElementById('searchByMayorConsumoForm').submit();
        });
    </script>


        <br />

        <table class="table table-condensed table-hover table-bordered" style="border-collapse:collapse;">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>TipoDocumento</th>
                    <th>Rol</th>
                    <th>Correo</th>
                    <th>Contrasena</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="usuario : ${usuarios}">
                    <tr>
                        <td th:text="${usuario.id}"></td>
                        <td th:text="${usuario.nombre}"></td>
                        <td th:text="${usuario.documento}"></td>
                        <td th:text="${usuario.tipodocumento}"></td>
                        <td th:text="${usuario.rol}"></td>
                        <td th:text="${usuario.correo}"></td>
                        <td th:text="${usuario.contrasena}"></td>
                        <td>
                            <a th:href="@{usuarios/{id}/edit(id=${usuario.id})}">Editar</a>
                            <a th:href="@{usuarios/{id}/delete(id=${usuario.id})}"
                                onclick="return confirm('¿Estás seguro de borrar este usuario?')">Borrar</a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <div class="text-center">
            <a th:href='@{usuarios/new}' class="btn btn-primary">Añadir Usuario</a>
            <a th:href="@{/}" class="btn btn-primary"> Volver Atrás</a>
        </div>
        <br />
    </div>
</body>

</html>
